@font-face {
    font-family: 'ProximaNovaLight';
    src: url('../fonts/Proxima_Nova_Light-webfont.eot');
    src: local('☺'), url('../fonts/Proxima_Nova_Light-webfont.woff') format('woff'), url('../fonts/Proxima_Nova_Light-webfont.ttf') format('truetype'), url('../fonts/Proxima_Nova_Light-webfont.svg#webfontnDjJn3bg') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('../fonts/Proxima_Nova_Light_It-webfont.eot');
    src: local('☺'), url('../fonts/Proxima_Nova_Light_It-webfont.woff') format('woff'), url('../fonts/Proxima_Nova_Light_It-webfont.ttf') format('truetype'), url('../fonts/Proxima_Nova_Light_It-webfont.svg#webfontXbyDrnYv') format('svg');
    font-weight: 200;
    font-style: italic;
}

