.wrapper {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 960px;
}

.layout {
 display: inline-block;
 margin: 5px 10px;

 img {
   width: 260px;
 }
}

.footer {
  margin-top: 40px;
}

strong {
  font-weight: 700;
}
