@import './constants';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  margin-bottom: 3em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-rendering: geometricPrecision;
  color: #333;
}

a {
  color: $blue;
}
