.Controls {
    margin-top: 30px;
    width: $compositeWidth;
}

.is-exporting .Controls {
    overflow: hidden;
    margin: 0;
    height: 0;
}

.Controls > * {
    display: inline-block;
    margin: 10px 0;
    height: 30px;
    vertical-align: middle;
}

.Controls label {
    font-size: 1.25em;
    padding-right: 1.25%;
    width: 10%;
    line-height: 30px;
    text-align: right;
}

.Controls button,
.Controls input[type=text],
.Controls select {
    font-size: 1.25em;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 1px 1px #e5e5e5;
}

.Controls input[type=file] {
    display: none;
}

.Controls button {
    width: 10%;
    color: #ccc;
    text-align: center;
    cursor: pointer;
}

.Controls button + button {
    border-left-width: 0;
}

.Controls button:hover {
    opacity: 0.9;
}

.Controls [disabled] {
    opacity: 0.25;
}

.Controls button[disabled] {
    border-color: transparent;
    background-color: $blue;
    color: white;
    opacity: 1;
    cursor: default;
}

.Controls input {
    padding: 0.25em 0.5em;
    font-size: 1.25em;
}

.Controls input[type=text].Controls-text {
    position: relative;
    width: 90%;
    z-index: 2;
}

.Controls input[type=text].Controls-textSource {
    width: 30%;
}

.Controls button.Controls-align {
    position: relative;
    width: 10%;
}

.Controls input[type=text].Controls-imageSource {
    width: 30%;
}

.no-object-fit .Controls input[type=text].Controls-imageSource {
    margin-right: 40%;
}

.Controls button.Controls-isSquared--yes[disabled] {
    background-color: $green;
}

.Controls button.Controls-isSquared--no[disabled] {
    background-color: $red;
}

.Controls select.Controls-presetBranding {
    position: relative;
    margin-right: 5%;
    width: 15%;
}

.Controls button.Controls-tintIndex {
    width: 5%;
}

.Controls label[for=imageScale] {
    margin-left: 30%;
    width: 15%;
}

.Controls button.Controls-tintIndex + label[for=imageScale] {
    margin-left: 5%;
}

.Controls input.Controls-imageScale {
    width: 15%;
}

.Controls-info {
    width: 80%;
    line-height: 30px;
}

.Controls-faq,
.Controls-feedback {
    width: 10%;
    line-height: 30px;
    text-align: right;
}
