@media print {
    .Composite {
        margin: 0;
        box-shadow: none;
    }

    .Composite-image:empty::before {
        content: "";
    }

    .Composite-textResizeHandle,
    .Controls,
    .Download {
        display: none;
    }
}
